In [1]:
#importing spotipy & pandas packages

import spotipy
import pandas as pd

In [2]:
#for setting up authorization for credentials

from spotipy.oauth2 import SpotifyClientCredentials

#defining access tokens 

cid = "ca67fb2b379a4d0f9d0950c9aa493fa8"
secret = "cbcab603f42d43f3b577c48945e44be0"

client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

In [3]:
#timeit is imported to measure time taken to run the code 
import timeit
start = timeit.default_timer()

#create empty lists where the results are going to be stored
artist_name = []
track_name = []
popularity = []
track_id = []

for i in range(0, 10000, 50):
    track_results = sp.search(q='year:2018', type='track', limit=50, offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])
        
stop = timeit.default_timer()
print('Ran code in:',stop - start,'seconds')

Ran code in: 150.93998618054403 seconds

In [5]:
print('number of songs in the track_id list:', len(track_id))

number of songs in the track_id list: 10000

In [7]:
#loading lists into pandas dataframe

df_tracks = pd.DataFrame({'artist_name' : artist_name,
                          'track_name' : track_name,
                          'track_id' : track_id,
                          'popularity' : popularity})

#returns no. of rows, no. of columns
print(df_tracks.shape)

(10000, 4)

In [8]:
#prints the top 5 items in the list
df_tracks.head()

,artist_name,popularity,track_id,track_name
0,Travis Scott,97,2xLMifQCjDGFmkHkpNLD9h,SICKO MODE
1,Juice WRLD,96,0s3nnoMeVWz3989MkNQiRf,Lucid Dreams
2,Kodak Black,95,7l3E7lcozEodtVsSTCkcaA,ZEZE (feat. Travis Scott & Offset)
3,Marshmello,99,2dpaYNEQHiRxtZbfNsse99,Happier
4,XXXTENTACION,95,3ee8Jmje8o58CHK66QrVC2,SAD!

In [9]:
#prints the bottom 5 items in the list
df_tracks.tail()

          artist_name  popularity                track_id     track_name
9995       Cody Jinks          47  0mAz3kasgCvDczNhddrFrj  Big Last Name
9996           MAGIC!          61  3aaYopQJJzCetKVXqNQ1zm   Expectations
9997  Sebastian Yatra          63  6NMRWLKSXABykkj58dVW9c         Sin Ti
9998         WHATUPRG          48  7sNDGrhYnBFMc6pK7krmyZ        Wesside
9999   Arizona Zervas          50  2W4smyeMF0Zhr2KZhAsl99            FML

In [10]:
#prints the info of the items in the list
df_tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
artist_name    10000 non-null object
popularity     10000 non-null int64
track_id       10000 non-null object
track_name     10000 non-null object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [12]:
# group the entries by artist_name and track_name and check for duplicates

grouped = df_tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

2213

In [13]:
df_tracks.drop_duplicates(subset=['artist_name','track_name'], inplace=True)

In [15]:
#grouping again to verify the dropped duplicates worked
grouped = df_tracks.groupby(['artist_name','track_name'], as_index=True).size()
grouped[grouped > 1].count()

0

In [17]:
df_tracks[df_tracks.duplicated(subset=['artist_name','track_name'], keep=False)].count()

AttributeError: 'DataFrame' object has no attribute 'duplicates'